﻿@page
@model Atv.CashControls.Pages.Expenses.CreateModalModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@{
    Layout = null;
}

<form data-ajaxForm="true" enctype="multipart/form-data" asp-page="/Expenses/CreateModal" autocomplete="off">
    <abp-modal size="ExtraLarge" id="createExpenseModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-row>
                <abp-column size="_6">
                    <abp-input asp-for="UserId"></abp-input>

                    <div class="mb-3">
                        <label class="form-label" asp-for="ExpenseVM.WalletId">WalletId</label>

                        <select class="form-select" asp-for="ExpenseVM.WalletId">
                            <option value="">--- Chọn nguồn tiền ----</option>

                            @foreach (var wallet in Model.WalletsList)
                            {
                                <option value="@wallet.Id">@wallet.Name</option>
                            }
                        </select>
                    </div>

                    <abp-input asp-for="ExpenseVM.Name"></abp-input>
                    <abp-input type="text" asp-for="ExpenseVM.Price"></abp-input>
                    <abp-input asp-for="ExpenseVM.Quantity"></abp-input>
                    <abp-date-picker asp-for="ExpenseVM.Date"></abp-date-picker>
                </abp-column>

                <abp-column size="_6">
                    <div class="mb-3"></div>

                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label" asp-for="ExpenseVM.CategoryID">@L["Category_Name"]</label>

                            <div class="mb-2">
                                <button id="btnCreateCategory" class="btn btn-primary" type="button">Thêm mới danh mục</button>
                            </div>
                        </div>
                        
                        @* <select asp-for="ExpenseVM.CategoryID"
                        class="form-select auto-complete-select"
                        data-autocomplete-api-url="/api/cash-controls/cash-categories/get-list"
                        data-autocomplete-display-property="name"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true">
                        <option selected value="@SelectedCashCategory.Id">@SelectedCashCategory.Name</option>
                        </select>  *@

                        <select class="form-select" asp-for="ExpenseVM.CategoryID">
                            <option value="">--- Chọn danh mục ---</option>

                            @foreach (var categ in Model.CategoriesList)
                            {
                                <option value="@categ.Id">@categ.Name</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <abp-select asp-for="ExpenseVM.Status"></abp-select>
                    </div>

                    <abp-input asp-for="ExpenseVM.Note"></abp-input>
                </abp-column>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
