﻿@page
@model Atv.CashControls.Pages.Expenses.DetailsModalModel

@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<CashControlsResource> L

@{
    Layout = null;
}

<abp-modal id="expenseDetailModal">
    <abp-modal-header title="Details"></abp-modal-header>

    <abp-modal-body>
        <abp-row>
            <div>
                <label asp-for="ExpenseDto.Id">Id:</label>
                <p>@Model.ExpenseDto.Id</p>
            </div>

            <div>
                <label asp-for="ExpenseDto.Name">Name:</label>
                <p>@Model.ExpenseDto.Name</p>
            </div>

            <div>
                <label asp-for="ExpenseDto.Price">Price:</label>
                <p>@Model.ExpenseDto.Price</p>
            </div>
                
            <div>
                <label asp-for="ExpenseDto.CreationTime">CreationTime:</label>
                <p>@Model.ExpenseDto.CreationTime</p>
            </div>

            <div>
                <label asp-for="ExpenseDto.CreatorId">CreatorId:</label>
                <p>@Model.ExpenseDto.CreatorId</p>
            </div>

            <div>
                <label asp-for="ExpenseDto.LastModificationTime">LastModificationTime:</label>
                <p>@Model.ExpenseDto.LastModificationTime</p>
            </div>
        </abp-row>
    </abp-modal-body>
</abp-modal>
