﻿@page
@model Atv.CashControls.Pages.Expenses.EditModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Expenses/EditModal" autocomplete="off">
    <abp-modal size="ExtraLarge" id="editExpenseModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-row>
                <abp-column size="_6">
                    <abp-input asp-for="Id"></abp-input>

                    <div class="mb-3">
                        <label class="form-label" asp-for="ExpenseVM.WalletId">WalletId</label>

                        <select class="form-select" asp-for="ExpenseVM.WalletId">
                            <option value="">--- Chọn nguồn tiền ----</option>

                            @foreach (var wallet in Model.WalletsList)
                            {
                                <option value="@wallet.Id">@wallet.Name</option>
                            }
                        </select>
                    </div>

                    <abp-input asp-for="ExpenseVM.Name"></abp-input>
                    <abp-input asp-for="ExpenseVM.Price"></abp-input>
                    <abp-input asp-for="ExpenseVM.Quantity"></abp-input>
                    <abp-date-picker asp-for="ExpenseVM.Date"></abp-date-picker>                    
                </abp-column>
                <abp-column size="_6">
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="ExpenseVM.CategoryID">Category</label>
                        @* <select asp-for="ExpenseVM.CategoryID"
                        class="form-select auto-complete-select"
                        data-autocomplete-api-url="/api/cash-controls/cash-categories/get-list"
                        data-autocomplete-display-property="name"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-allow-clear="true">
                        <!-- You can define selected option(s) here  -->
                        @* <option selected value="@SelectedCashCategory.Id">@SelectedCashCategory.Name</option> *@
                        @* </select> *@

                        <select asp-for="ExpenseVM.CategoryID" class="form-select">
                            @foreach (var cate in Model.Categories)
                            {
                                <option value="@cate.Id">@cate.Name</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <lable class="form-label" asp-for="ExpenseVM.Status">Status</lable>
                        <select asp-for="ExpenseVM.Status" class="form-select">
                            <option value="0">Hiển thị</option>
                            <option value="1">Ân</option>
                        </select>
                    </div>

                    <abp-input asp-for="ExpenseVM.Note"></abp-input>
                </abp-column>
            </abp-row>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
