﻿table tfoot tr.totalRow {
}

table tfoot.totalTFoot {
    padding-top: 15px;
    color: #000 !important;
    font-weight: bold;
    font-size: 20px;
}

table tbody tr.group-background {
    background-color: #d5f9ff;
}

table tbody tr.group-background th:first-child {
    padding-left: 40px;
}

table tbody tr.group-0-background {
    background-color: #ffd6f7;
}

