﻿@page
@model Atv.CashControls.Pages.Expenses.IndexModel

@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Authorization
@using Atv.CashControls.Permissions
@using Atv.CashControls.Menus

@inject IHtmlLocalizer<CashControlsResource> L
@inject IAuthorizationService AuthorizationService
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Menu:Expenses"].Value;
    PageLayout.Content.MenuItemName = CashControlsMenus.Expenses;
}

@section styles {
    <link src="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css" />
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <abp-style src="/Pages/Expenses/Index.cshtml.css"></abp-style>
}

@section scripts {
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="~/js/exporttoexcel.js"></script>
    <abp-script src="/Pages/Expenses/Index.cshtml.js"></abp-script>

    <script>
        async function exportToExcel() {
            try {
                const response = await fetch('/api/cash-controls/export/export-expense-to-excel');
                const data = await response.json();

                saveAsFile(`Expenses_${new Date().toISOString().slice(0, 19).replace(/:/g, "")}.xlsx`, data);
            } catch (error) {
                console.error('Error exporting to Excel:', error);
            }
        }
    </script>

}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:Expenses"].Value (<span id="expense-count"></span>)</h4>

                    <div class="d-flex justify-content-between align-items-center">
                        @if (await AuthorizationService.IsGrantedAsync(CashControlsPermissions.Expenses.Create))
                        {
                            <abp-button class="text-primary me-2" id="createExpenseBtn">
                                <i class="fa-regular fa-plus"></i> @L["Create"]
                            </abp-button>
                        }

                        <abp-button class="text-primary me-2" id="HideShowBtn"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseShowHideColumn"
                                    aria-expanded="false" aria-controls="collapseShowHideColumn">
                            <i class="fa-solid fa-gear"></i> @L["Setting"]
                        </abp-button>  

                        <div class="dropdown">
                            <button id="exportDataBtn" class="btn text-primary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">

                                <i class="fa-solid fa-file-export"></i> Export
                            </button>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item comming-soon" onclick="exportToExcel()" href="#"><i class="fa-regular fa-file-excel"></i> Xuất Excel</a></li>
                                <li><a class="dropdown-item comming-soon" href="#"><i class="fa-regular fa-file-pdf"></i> Xuất Pdf</a></li>
                                <li><a class="dropdown-item comming-soon" href="#"><i class="fa-solid fa-file-csv"></i> Xuất Csv</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapseShowHideColumn">
                    <div class="card border">
                        <div class="card-header">
                            <h5 class="text-primary">Cài đặt</h5>
                        </div>

                        <div class="card-body">
                            <abp-row class="mb-3">
                                <abp-column size-md="_4">
                                    <div>
                                        <input type="checkbox" name="hide_status_chckb" id="hide_status_chckb" />
                                        <label class="no-select" user for="hide_status_chckb">@L["Status"]</label>
                                    </div>
                                </abp-column>

                                <abp-column size-md="_4">
                                    <div>
                                        <input type="checkbox" name="hide_creation_time_chckb" id="hide_creation_time_chckb" />
                                        <label class="no-select" for="hide_creation_time_chckb">@L["Creation_Time"]</label>
                                    </div>
                                </abp-column>
                            </abp-row>
                        </div>
                    </div>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <div class="mb-3" id="expenses-filter-wrapper">
                <div>
                    <div class="input-group">
                        <label class="input-group-text" for="FilterText"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <button data-bs-toggle="collapse" href="#collapseAdvanceSearch" class="input-group-text"><i class="fa-solid fa-ellipsis"></i></button>
                        <input type="search" class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseAdvanceSearch">
                <div id="expense-advance-filter" class="">
                    <abp-row class="mb-3">
                        <abp-column size-md="_4">
                            <div>
                                <label style="margin-bottom: 30px;" class="form-label">Danh mục:</label>
                                <select id="advanceCategory" class="form-select">
                                    <option value="">--- Chọn danh mục ---</option>

                                    @foreach (var cate in Model.CategoryDto)
                                    {
                                        <option value="@cate.Id">@cate.Name</option>
                                    }
                                </select>
                            </div>
                        </abp-column>

                        <abp-column size-md="_4">
                            <div class="form-label">Ngày chi tiêu:</div>

                            <abp-row>
                                <abp-column size-md="_6">
                                    <div>
                                        <label class="form-label">Min:</label>
                                        <input id="advanceDateMin" type="date" class="form-control" />
                                    </div>
                                </abp-column>

                                <abp-column size-md="_6">
                                    <div>
                                        <label class="form-label">Max:</label>
                                        <input id="advanceDateMax" type="date" class="form-control" />
                                    </div>
                                </abp-column>
                            </abp-row>

                        </abp-column>


                    </abp-row>

                    <div class="mb-3 d-flex justify-content-end align-items-center">
                        <button class="btn border-danger me-3" id="btn_AdvanceCancel">Clear</button>
                        <button class="btn btn-primary" id="btn_AdvanceSearch">Refresh</button>
                    </div>
                </div>
            </div>

            <div>
                <abp-table id="expenseTable" class="cell-border" hoverable-rows="true">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Month</th>
                            <th>Creator</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tfoot class="totalTFoot">
                        <tr>
                            <th colspan="2">Tổng cộng tháng @DateTime.Now.Month:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr id="ftable-amount">
                            <th colspan="2">Tổng cộng:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </abp-table>
            </div>
        </abp-card-body>
    </abp-card>
</div>
