﻿.counters-widget {
    width: 100%;
}

.counters-widget .counters-widget-item {
    border: 1px solid #ddd;
    border-bottom: 5px solid #bbb;
    border-right: 5px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}

.counters-widget .counters-widget-count {
    font-size: 2em;
    color: #00008b;
}

.counters-widget .counters-widget-count-name {
    color: #666;
}
