﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@model Atv.CashControls.Pages.IndexModel
@using Atv.CashControls.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "Trang chủ";
    PageLayout.Content.MenuItemName = CashControlsMenus.Home;
}

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}
<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                @L["Welcome_Title"]
            </abp-card-title>
        </abp-card-header>
        <abp-card-body>            
            @L["Welcome_Text"]
        </abp-card-body>
    </abp-card>

    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-auto text-center">
                    <img src="https://abp.io/assets/png/mastering-abp-framework.webp" style="max-width: 400px;" class="w-100 mb-5 my-md-3">
                </div>
                <div class="col-md d-flex align-items-center">
                    <div class="pe-0 pe-md-4">
                        <small class="text-uppercase text-muted">THE OFFICIAL GUIDE</small>
                        <h2 class="mb-4">Mastering ABP Framework</h2>
                        <p class="mb-4">Written by the creator of the ABP Framework, this book will help you gain a complete understanding of the framework and modern web application development techniques.</p>
                        <div class="mb-4">
                            <a href="#" class="btn btn-success mb-1">
                                Buy on Amazon US
                            </a>
                            <a href="#" class="btn btn-primary mb-1">
                                Buy on PACKT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>