﻿@{
    var listMonths = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 };
    var currMonth = DateTime.Now.Month;
}
<abp-card background="Light">
    <abp-card-header background="Primary">
        <abp-card-title>Categories Expenses statistic</abp-card-title>
    </abp-card-header>

    <abp-card-body>
        <div id="CategoriesExpensesStatisticWidgetWrap">
            <div>
                <select id="category-expense-month-filter" class="form-select">
                    @foreach (var month in listMonths)
                    {
                        <option selected="@(currMonth == month ? true : false)" value="@month">Tháng @month</option>
                    }
                </select>
            </div>

            <div class="mt-3">
                <select id="category-expense-year-filter" class="form-select">
                    <option value="2024">Năm 2024</option>
                </select>
            </div>

            <div class="mt-3">
               <abp-row>
                   <abp-column size-md="_8">
                        <div>
                            <canvas class="categoryExpensesStatisticChart"></canvas>
                        </div>
                   </abp-column>
                    
               </abp-row>
            </div>
        </div>
    </abp-card-body>
</abp-card>
