﻿@page
@model Atv.CashControls.Pages.Incomes.CreateModalModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@{
    Layout = null;
}

<form data-ajaxForm="true" enctype="multipart/form-data" asp-page="/Incomes/CreateModal" autocomplete="off">
    <abp-modal size="ExtraLarge" id="createIncomeModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-row>
                <abp-input asp-for="UserId"></abp-input>

                <abp-date-picker asp-for="IncomeVM.Date"></abp-date-picker>
                <abp-input asp-for="IncomeVM.Amount"></abp-input>
                <div class="mb-3">
                    <abp-select asp-for="IncomeVM.Type"></abp-select>
                </div>
                <abp-input asp-for="IncomeVM.Source"></abp-input>

                <abp-input asp-for="IncomeVM.Description"></abp-input>
            </abp-row>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
