﻿@page
@model Atv.CashControls.Pages.Incomes.EditModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/CashCategories/EditModal" autocomplete="off">
    <abp-modal id="EditCashCategoryModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-row>
                <abp-input asp-for="Id"></abp-input>

                <abp-date-picker asp-for="IncomeVM.Date"></abp-date-picker>
                <abp-input asp-for="IncomeVM.Amount"></abp-input>
                <div class="mb-3">
                    <abp-select asp-for="IncomeVM.Type"></abp-select>
                </div>
                <abp-input asp-for="IncomeVM.Source"></abp-input>

                <abp-input asp-for="IncomeVM.Description"></abp-input>
            </abp-row>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
