﻿@page
@model Atv.CashControls.Pages.Incomes.IndexModel

@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Atv.CashControls.Menus
@using Microsoft.AspNetCore.Authorization
@using Atv.CashControls.Permissions

@inject IAuthorizationService AuthorizationService
@inject IHtmlLocalizer<CashControlsResource> L
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Menu:Incomes"].Value;
    PageLayout.Content.MenuItemName = CashControlsMenus.Incomes;
}

@section scripts {
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <abp-script src="/Pages/Incomes/Index.cshtml.js"></abp-script>
}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:Incomes"].Value</h4>

                    <div class="d-flex justify-content-between align-items-center">
                        @if (await AuthorizationService.IsGrantedAsync(CashControlsPermissions.Incomes.Create))
                        {
                            <abp-button class="text-primary me-2" id="btn_CreateIncome">
                                <i class="fa-regular fa-plus"></i> Thêm mới
                            </abp-button>
                        }
                    </div>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <abp-row class="mb-3">
                <abp-column size-md="_12">
                    <form id="searchForm" autocomplete="off">
                        <div class="input-group">
                            <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                            <abp-button id="AdvancedFilterSectionToggler" class="text-decoration-none" abp-tooltip="@L["SeeAdvancedFilters"].Value" icon="caret-down">Adv</abp-button>
                            <abp-button button-type="Primary" type="submit" abp-tooltip="@L["Search"].Value" icon="search"></abp-button>
                        </div>
                    </form>
                </abp-column>
            </abp-row>          

            <abp-table id="incomesDatatable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>