/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url("/images/logo/leptonx/logo-light.png");
    --lpx-logo-icon: url("/images/logo/leptonx/logo-light-thumbnail.png");
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.iconCustomClass {
    width: 20px;
    text-align: center;
}

.form-label span {
    color: red;
}