﻿@page
@model Atv.CashControls.Pages.Depts.CreateModalModel

@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization

@inject IHtmlLocalizer<CashControlsResource> L

@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Depts/CreateModal" autocomplete="off">
    <abp-modal id="createDeptModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="DeptVM.Price"></abp-input>
            <abp-input asp-for="DeptVM.Lender"></abp-input>
            <abp-input asp-for="DeptVM.Date"></abp-input>
            <abp-input asp-for="DeptVM.DueDate"></abp-input>
            <abp-input asp-for="DeptVM.Description"></abp-input>
            <div class="mb-3">
                <lable>Status</lable>
                <select asp-for="DeptVM.Status" class="form-select">
                    <option value="0">Chưa thanh toán</option>
                    <option value="1">Đã thanh toán</option>
                </select>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>

    </abp-modal>
</form>
