﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Atv.CashControls.Pages.Depts.UpdateModalModel
@{
    Layout = null;
}


<form autocomplete="off" asp-page="/Depts/UpdateModal" data-ajaxForm="true">
    <abp-card>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id"></abp-input>
            <abp-input asp-for="UserId"></abp-input>
            
            <abp-input asp-for="DeptVM.Price"></abp-input>
            <abp-input asp-for="DeptVM.Lender"></abp-input>
            <abp-input asp-for="DeptVM.Date"></abp-input>
            <abp-input asp-for="DeptVM.DueDate"></abp-input>
            <abp-input asp-for="DeptVM.Description"></abp-input>
            <div class="mb-3">
                <lable>Status</lable>
                <select asp-for="DeptVM.Status" class="form-select">
                    <option value="0">Chưa thanh toán</option>
                    <option value="1">Đã thanh toán</option>
                </select>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-card>
</form>
