﻿@page
@model Atv.CashControls.Pages.BankingNotes.CreateModalModel
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<CashControlsResource> L
@{
    Layout = null;
}

<form id="frmCreateBankingNote" autocomplete="off" asp-page="/BankingNotes/CreateModal" data-ajaxForm="true">
    <abp-modal id="bankingNoteCreateModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="BankingNoteVM.BankingName"></abp-input>
            <abp-input asp-for="BankingNoteVM.BankingLogo"></abp-input>
            <abp-input asp-for="BankingNoteVM.Money"></abp-input>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
