﻿@page
@model Atv.CashControls.Pages.BankingNotes.IndexModel
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IHtmlLocalizer<CashControlsResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:BankingNotes"].Value;
    PageLayout.Content.MenuItemName = CashControlsMenus.BankingNotes;
}

@section styles {
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <link src="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css" />
    <abp-style src="/Pages/BankingNotes/Index.cshtml.css"></abp-style>
}

@section scripts {
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
    <abp-script src="/Pages/BankingNotes/Index.cshtml.js"></abp-script>
}

<div class="container">
    <abp-card>
        <abp-card-header>
            <div class="d-flex justify-content-between align-items-center">
                <h4>@L["Menu:BankingNotes"].Value</h4>

                <div>
                    <div class="dropdown" data-bs-toggle="tooltip" title="Export">
                        <button id="exportDataBtn" class="btn text-primary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fa-solid fa-file-export"></i>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item comming-soon" href="#">Xuất Excel</a></li>
                            <li><a class="dropdown-item comming-soon" href="#">Xuất Pdf</a></li>
                            <li><a class="dropdown-item comming-soon" href="#">Xuất Csv</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </abp-card-header>

        <abp-card-body>
            <div>
                <abp-row>
                    <abp-column size-md="_6">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>@L["Banking"]</h4>

                            <div class="d-flex">
                                <button data-bs-toggle="tooltip" title="@L["Create"].Value" id="createModalBtn" class="btn text-primary me-2">
                                    <i class="fa-regular fa-plus"></i> @L["Create"].Value
                                </button>

                            </div>
                        </div>

                        <div id="banking-filter-wrapper">
                            <div>
                                <div class="input-group">
                                    <label class="input-group-text" for="bankingFilterText">Tìm kiếm</label>
                                    <input class="form-control page-search-filter-text" id="bankingFilterText" placeholder="@L["Search"]" />
                                </div>
                            </div>
                        </div>

                        <abp-table hoverable-rows="true" striped-rows="true" id="bankingNotesDatatable"></abp-table>
                    </abp-column>

                    <abp-column size-md="_6">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>@L["Transactions"]</h4>

                            <div>
                                <button data-bs-toggle="tooltip" title="@L["Create_Transactions"]" id="createTransactionDetails" class="btn text-primary">
                                    <i class="fa-regular fa-plus"></i> @L["Create_Transactions"]
                                </button>
                            </div>
                        </div>

                        <div id="transactions-filter-wrapper">
                            <div>
                                <div class="input-group">
                                    <label class="input-group-text" for="FilterText">Tìm kiếm</label>
                                    <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]" />
                                </div>
                            </div>
                        </div>

                        <abp-table class="cell-border" hoverable-rows="true" striped-rows="true" id="transactionDetails"></abp-table>
                    </abp-column>
                </abp-row>
            </div>
        </abp-card-body>
    </abp-card>
</div>
