@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Atv.CashControls.Pages.BankingNotes.TransactionCreateModal

@inject IHtmlLocalizer<CashControlsResource> L

@{
    Layout = null;
}

@section styles {
    <abp-style src="/Pages/BankingNotes/Index.cshtml.css"></abp-style>
}

@section scripts {
    <abp-script src="/Pages/BankingNotes/TransactionCreateModal.cshtml.js"></abp-script>
}

<form id="frmCreateTransaction" autocomplete="off" data-ajaxForm="true" asp-page="/BankingNotes/TransactionCreateModal">
<abp-modal id="CreateTransactionModal" >
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="TransactionVM.Amount"></abp-input>
            <abp-input asp-for="TransactionVM.Date"></abp-input>

            <abp-select id="TransactionType" asp-for="TransactionVM.TransactionType"></abp-select>

            <div class="show choiceType" id="choiceRutTien">
                <abp-input asp-for="TransactionVM.Place"></abp-input>
            </div>

            <div class="hide choiceType" id="choiceChuyenTien">
                <abp-input asp-for="TransactionVM.BankingReceive"></abp-input>
                <abp-input asp-for="TransactionVM.Receiver"></abp-input>
            </div>

            <div class="hide choiceType" id="choiceNhanTien">
                <abp-input asp-for="TransactionVM.Remitter"></abp-input>
            </div>
            
            <abp-input asp-for="TransactionVM.Image"></abp-input>

            <div class="d-none">
                <abp-input asp-for="TransactionVM.BankingNoteId"></abp-input>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
</abp-modal>
</form>