﻿@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<CashControlsResource> L

@model Atv.CashControls.Pages.BankingNotes.UpdateModalModel

@{
    Layout = null;
}

<form autocomplete="off" asp-page="/BankingNotes/UpdateModal" data-ajaxForm="true">
    <abp-modal id="bankingNoteCreateModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id"></abp-input>

            <abp-input asp-for="BankingNoteVM.BankingName"></abp-input>
            <abp-input asp-for="BankingNoteVM.BankingLogo"></abp-input>
            <abp-input asp-for="BankingNoteVM.Money"></abp-input>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

