﻿@page
@model Atv.CashControls.Pages.DemoLearns.Widgets.IndexModel
@{
}


<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Menu:Dashboard</h4>
                    <abp-button class="btn-primary">
                        <i class="fa-solid fa-download"></i>
                        Generate_Report"
                    </abp-button>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <form method="get" id="MyDashboardFilterForm">
                <abp-row class="mb-3">
                    <abp-column size-md="_5">
                        <abp-input asp-for="StartDate" />
                    </abp-column>

                    <abp-column size-md="_5">
                        <abp-input asp-for="EndDate" />
                    </abp-column>

                    <abp-column class="d-flex justify-content-center align-items-center" size-md="_2">
                        <abp-button button-type="Primary" icon="refresh" type="Submit" text="Refresh" />
                    </abp-column>
                </abp-row>
            </form>

            <div id="MyDashboardWidgetsArea" data-widget-filter="#MyDashboardFilterForm">
                <div class="mt-5">
                    <h2>Dưới đây là các widget mẫu</h2>
                </div>

                <abp-row>
                    <abp-column>
                        @await Component.InvokeAsync("MySimpleWidget")
                    </abp-column>
                </abp-row>

                <abp-row class="mt-5">
                    <abp-column size="_6">
                        @await Component.InvokeAsync("CountersWidget", new
                            {
                                startDate = @Model.StartDate,
                                endDate = @Model.EndDate
                            })
                    </abp-column>

                    <abp-column size="_6">
                        @await Component.InvokeAsync("LicenseStatisticWidget")
                    </abp-column>
                </abp-row>

                <abp-row class="mt-5">
                    <abp-column size="_6">
                        @await Component.InvokeAsync("NewUserStatisticWidget")
                    </abp-column>
                </abp-row>
            </div>
        </abp-card-body>
    </abp-card>
</div>
