﻿@page
@model Atv.CashControls.Pages.Wallets.CreateModalModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@inject IHtmlLocalizer<CashControlsResource> L

@{
    Layout = null;  
}

<form id="frmCreateWallet" data-ajaxForm="true" asp-page="/Wallets/CreateModal" autocomplete="off">
    <abp-modal id="createModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="WalletVM.Name"></abp-input>
            <abp-input type="text" asp-for="WalletVM.Money"></abp-input>
            <abp-input asp-for="WalletVM.Description"></abp-input>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>

    </abp-modal>
</form>
