﻿@page
@model Atv.CashControls.Pages.Wallets.IndexModel

@using Atv.CashControls.Menus
@using Atv.CashControls.Permissions
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout

@inject IHtmlLocalizer<CashControlsResource> L
@inject IAuthorizationService AuthorizationService
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Menu:Wallets"].Value;
    PageLayout.Content.MenuItemName = CashControlsMenus.Wallets;
}

@section styles {
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <abp-style src="/Pages/Wallets/Index.cshtml.css"></abp-style>
}

@section scripts {
    <abp-script src="/Pages/Wallets/Index.cshtml.js"></abp-script>
}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:Wallets"].Value</h4>

                    <div class="d-flex justify-content-between align-items-center">
                        @if (await AuthorizationService.IsGrantedAsync(CashControlsPermissions.Wallets.Create))
                        {
                            <abp-button class="text-primary me-2" id="createBtn">
                                <i class="fa-regular fa-plus"></i> Tạo ví
                            </abp-button>
                        }
                    </div>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <abp-table striped-rows="true" hoverable-rows="true" id="walletsDataTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>
