﻿@page
@model Atv.CashControls.Pages.Loans.CreateModalModel

@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization

@inject IHtmlLocalizer<CashControlsResource> L

@{
    Layout = null;
}

<form id="frmCreateLoan" data-ajaxForm="true" asp-page="/Loans/CreateModal" autocomplete="off">
    <abp-modal id="createLoanModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="LoanVM.Borrower"></abp-input>

            <abp-input asp-for="LoanVM.Amount"></abp-input>

            <abp-date-picker asp-for="LoanVM.Date"></abp-date-picker>

            <abp-date-picker asp-for="LoanVM.DueDate"></abp-date-picker>

            <abp-input asp-for="LoanVM.Description"></abp-input>

            <div class="mb-3">
                <lable class="form-label">@L["Status"]</lable>
                <select asp-for="LoanVM.Status" class="form-select">
                    <option value="0">Chưa thanh toán</option>
                    <option value="1">Đã thanh toán</option>
                </select>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>

    </abp-modal>
</form>

