﻿@page
@model Atv.CashControls.Pages.Loans.IndexModel

@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Atv.CashControls.Menus
@using Microsoft.AspNetCore.Authorization
@using Atv.CashControls.Permissions

@inject IAuthorizationService AuthorizationService
@inject IHtmlLocalizer<CashControlsResource> L
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Menu:Loans"].Value;
    PageLayout.Content.MenuItemName = CashControlsMenus.Loans;
}

@section scripts {
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <abp-script src="/Pages/Loans/Index.cshtml.js"></abp-script>
}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:Loans"].Value</h4>

                    <div class="d-flex justify-content-between align-items-center">
                        @if (await AuthorizationService.IsGrantedAsync(CashControlsPermissions.Loans.Create))
                        {
                            <abp-button class="text-primary me-2" id="btn_CreateLoan">
                                <i class="fa-regular fa-plus"></i> Thêm mới
                            </abp-button>
                        }
                    </div>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <abp-table id="loansDatatable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>