﻿

@{
    var listMonths = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 };
    var currMonth = DateTime.Now.Month;
}

<abp-card background="Light">
    <abp-card-header background="Secondary" class="text-white pb-3">
        <span>Day Expensese Statistics</span>
    </abp-card-header>

    <abp-card-body>
        <div id="dayExpensesStatisticWidgetWrapper">
            <div>
                <div class="form-group">
                    <select id="day_expenses_month_filter" class="form-select">
                        @foreach (var month in listMonths)
                        {
                            <option selected="@(currMonth == month ? true : false)" value="@month">Tháng @month</option>
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <select id="day_expenses_year_filter" class="form-control">
                        <option value="2024">2024</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div>
                    <canvas class="DayExpensesStatisticChart"></canvas>
                </div>
            </div>
        </div>        
    </abp-card-body>
</abp-card>