﻿@page
@model Atv.CashControls.Pages.CashCategories.CreateModalModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@{
    Layout = null;
}

@section styles {
    <style>
        .modal-content {
            box-shadow: 0px 2px 42px -9px rgba(0,0,0,0.71);
        }
    </style>
}

@section scripts {
    <abp-script src="/Pages/CashCategories/CreateModal.cshtml.js"></abp-script>
}

<form class="shadow" data-ajaxForm="true" asp-page="/CashCategories/CreateModal" autocomplete="off">
    <abp-modal id="createCashCategoryModal">
        <abp-modal-header title="@L["CreateModal"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="CashCategoryVM.Name"></abp-input>
            <abp-input asp-for="CashCategoryVM.Description"></abp-input>
            
            <div class="mb-3">
                <lable>@L["Status"]</lable>
                <select asp-for="CashCategoryVM.Status" class="form-select">
                    <option value="0">Hiển thị</option>
                    <option value="1">Ân</option>
                </select>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
