﻿@page
@model Atv.CashControls.Pages.CashCategories.EditModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@inject IHtmlLocalizer<CashControlsResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CashCategories/EditModal" autocomplete="off">
    <abp-modal id="EditCashCategoryModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id"></abp-input>

            <abp-input asp-for="CashCategoryVM.Name"></abp-input>

            <abp-input asp-for="CashCategoryVM.Description"></abp-input>

            <div class="mb-3">
                <lable>Status</lable>
                <select asp-for="CashCategoryVM.Status" class="form-select">
                    <option value="0">Hiển thị</option>
                    <option value="1">Ân</option>
                </select>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>


