﻿@page
@model Atv.CashControls.Pages.CashCategories.IndexModel
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Atv.CashControls.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Menus
@inject IHtmlLocalizer<CashControlsResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:CashCategories"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CashCategories"].Value);
    PageLayout.Content.MenuItemName = CashControlsMenus.CashCategories;
}

@section scripts {
    <link src="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <abp-script src="/Pages/CashCategories/Index.cshtml.js" />
}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:CashCategories"].Value</h4>
                    <div>
                        <div class="d-flex"> 
                            <button id="createModalBtn" class="btn text-primary me-2">
                                <i class="fa-regular fa-plus"></i> @L["Create"].Value
                            </button>
                        </div>                        
                    </div>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <abp-row class="mb-3">
                <abp-column size-md="_12">
                    <form id="searchForm" autocomplete="off">
                        <div class="input-group">
                            <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                            <abp-button id="AdvancedFilterSectionToggler" class="text-decoration-none" abp-tooltip="@L["SeeAdvancedFilters"].Value" icon="caret-down">Adv</abp-button>
                            <abp-button button-type="Primary" type="submit" abp-tooltip="@L["Search"].Value" icon="search"></abp-button>
                        </div>
                    </form>
                </abp-column>
            </abp-row>            

            <abp-row id="AdvancedFilterSection" style="display: none;">
                <abp-column size="_4">
                    <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
                </abp-column>
                <abp-column size="_4">
                    <abp-date-picker asp-for="CreationDateFilterMin" label="@L["MinCreationDate"].Value" type="date" />
                </abp-column>
                <abp-column size="_4">
                    <abp-date-picker asp-for="CreationDateFilterMax" label="@L["MaxCreationDate"].Value" type="date" />
                </abp-column>
            </abp-row>

            <abp-table hoverable-rows="true" striped-rows="true" id="CashCategoriesTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>