﻿@page
@model Atv.CashControls.Pages.Dashboard.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Atv.CashControls.Localization
@using Atv.CashControls.Pages.Components.MySimpleWidget
@inject IHtmlLocalizer<CashControlsResource> L
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IPageLayout PageLayout
@{
    PageLayout.Content.BreadCrumb.Add(L["Menu:Dashboard"].Value);
    PageLayout.Content.Title = L["Menu:Dashboard"].Value;
}

@section scripts {

}

<div class="container">
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@L["Menu:Dashboard"].Value</h4>
                    <abp-button class="btn-primary">
                        <i class="fa-solid fa-download"></i>
                        @L["Generate_Report"].Value
                    </abp-button>
                </div>
            </abp-card-title>
        </abp-card-header>

        <abp-card-body>
            <form method="get" id="MyDashboardFilterForm">
                <abp-row class="mb-3">
                    <abp-column size-md="_5">
                        <abp-input asp-for="StartDate" />
                    </abp-column>

                    <abp-column size-md="_5">
                        <abp-input asp-for="EndDate" />
                    </abp-column>

                    <abp-column class="d-flex justify-content-center align-items-center" size-md="_2">
                        <abp-button button-type="Primary" icon="refresh" type="Submit" text="Refresh" />
                    </abp-column>
                </abp-row>
            </form>

            <div id="DashboardWidgetArea" data-widget-filter="#MyDashboardFilterForm">
                <abp-row>
                    <abp-column size="_12">
                        @await Component.InvokeAsync("DayExpensesStatisticWidget")
                    </abp-column>
                </abp-row>

                <abp-row>
                    <abp-column size="_12">
                        @await Component.InvokeAsync("CategoriesExpensesStatisticWidget")
                    </abp-column>
                </abp-row>
            </div>
        </abp-card-body>
    </abp-card>
</div>