﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="dropdown">
    <div data-bs-toggle="dropdown" aria-expanded="false"
         id="notifyDropdown" style="color: black; margin: 8px;"
         role="button">
        <i class="fa-regular fa-bell"></i>
    </div>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>