﻿<abp-card background="Light">
    <abp-card-header background="Secondary" class="text-white">
        License Statistics
    </abp-card-header>

    <abp-card-body>
        <div class="row">
            <div id="licenseStatisticWidgetWrapper">
                <canvas class="LicenseStatisticChart"></canvas>
            </div>
        </div>
    </abp-card-body>
</abp-card>
